/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */


@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'quico';
  src: url('../public/fonts/QuicoDisplay-Bold.ttf');
}
@font-face {
  font-family: 'notosans';
  src: url('../public/fonts/NotoSans-ExtraLight.ttf');
}

body {
  font-family: 'noto-sans', sans-serif;
}

@layer components {
  .button {
    @apply p-2 my-5 bg-gray-900 rounded-md w-44 focus:outline-none;
  }
}