

h1 {
  font-family: 'quico';
  font-size: 40px;
}


  button {
    font-family: 'quico';
  }

  .gradient-text-upload {
    background: linear-gradient(to right, #ff0000, #ff7f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

